body{
    font-family: 'Abril Fatface', cursive;
    margin: 0;
    padding: 0;
}

p{
    text-align: justify;
    //padding: 10vh;
    font-family: "arial";
    font-size: 200%;
}

.cover{
    background-image: url("background2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    //background-size: cover;
    //font-family: "Arial";
    //font-variant: small-caps;
    height: 100vh;
    width: 100%;
    display: flex;
}

.coverText{
    //line-height: 25vh;
    margin: 0;
    padding: 0;
    font-size: 6vh;
    overflow: hidden;
    height: 100%;
    letter-spacing: 50%;
    margin: auto;
    text-align:center;
    margin: auto;
}

.ramecek{
  margin: auto;
  color: white;
  text-align: center;
  background-color: rgba(0,0,0,0.5);
  border-style: solid;
  border-width: 2px;
  padding: 1vh;
}

.aboutMe{
    background-color: white;
    //display: inline-flex;
}

section h1{
    padding: 5vh;
    text-align: center;
    font-size: 10vh;
}

.sideBySide{
    //background-color: #232323;
    display: flex;
    //height: 33vh;
}

.sideBySide #portrait{
    background-image: url("background.jpg");
    flex-grow: 1;
    width: 50%;
    //height: 50vh;
}

.sideBySide #text{
    flex-grow: 3;
    width: 50%;
    margin: 15vh;
    //color: white;
}

.fiddlebox{
    height: 100vh;
    background-color: #232323;
    overflow: hidden;
}

.fiddlebox h1{
    width: 100vw;
    color: mintcream;
    margin: 0 auto;
    padding: 0;
    transform: translateY(50vh);
}

.fiddlebox span{
    display: inline-block;
    color: transparent;
    //color: white;
    //  padding: 25px;
    font-size: 200%;
    transition: all 0.1s ease-in-out;
}

.fiddlebox span:hover{
    color: mintcream;
}

.photoBackground{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    width: 70vw;
    //margin: 10vh;
    flex-grow: 3;
}